services:
  - type: web
    name: gpt-studio
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: APP_MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: CHROMA_API_KEY
        sync: false
      - key: CHROMA_TENANT
        sync: false
      - key: CHROMA_DATABASE
        sync: false
      - key: OPENROUTER_API_KEY
        sync: false
      - key: AZURE_OPENAI_API_KEY
        sync: false
      - key: AZURE_OPENAI_ENDPOINT
        sync: false
      - key: AZURE_DEPLOYMENT_NAME
        sync: false
      - key: OPENAI_API_KEY
        sync: false
